*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html{
    background-color: #e7e7e7;
}

header{
    background-color: gray;
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border: 2px solid #000;
    margin: 100px auto 0 0;
}

.container{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color: lightgray;
}

form{
    background-color: darkgray;
    padding: 8px 0;
    text-align: center;
    display: block;
}

form input{
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 5px;
}

form button{
    border: none;
    background-color: lightgreen;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
}

button:hover{
    background-color: rgb(2, 212, 2);
}

ul{
    text-align: center;
    list-style: none;
}

ul li:hover{
    cursor: pointer;
}

#seila{
    text-decoration: none;
}


